.tableCls{
	font-size : 12px;
	cursor:pointer;
}
.tableCls>thead>tr {
	background-color : #005199;
	color : white;
}
#addNewCaseForm label, #editCaseForm label, #addNewNoticeForm label, #addNewAlertForm label, #docUploadForm label {
	color : #005199;
}
.input-group-addon {
	background: #eee;
    width: 25px;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #eee;
}
.fa-calendar-alt, .fa-edit{
	margin: 10px 0 0 4px; 
	color : #005199;
}
.dataTables_info, .dataTables_length label, .dataTables_filter label, .dataTables_paginate .paginate_button{
	color:#005199 !important;
	font-weight : 300 !important;
	font-size : 14px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
      width: 410px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* Style the list items */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left : -40px;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myUL li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  
  right: 0;
  top: 0;
  padding: 0px 12px 0px 12px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
.bn{
	font-size : 20px;
	margin : 0;
}
#viewPopupTable td, #viewPopupTable th {
   padding : 5px;
}
#finImpTable th, #hearingTable th {
	background : #005199;
	color : white;
	 font-size: 12px;
}
#viewPopupTable th{
	color : #005199;
}
#viewPopupTable tr, #viewPopupTable th, #viewPopupTable td {
	border: 1px dashed #005199;
    font-size: 14px;
}
.col-sm-3 {
	font-size : 14px;
}
div.dataTables_scrollBody thead {           
    display: none;
}
#viewTable>thead>tr:nth-child(2){
   display:none;
}

#searchTable>tbody {
	background : white;
}
.fr-wrapper div:first-child{
	display : none;
}
.myUL {
	list-style:none;
}
.myUL li{
	margin-left : -25px;
}
.box {
  border: 1px solid #DDD;
  padding: 10px;
  position: relative;
  background: #FFF;
  margin: 0 0 10px;
}

select.pagiantion{
  width: auto;
  display: inline-block;
}
.popover{
	max-width : 100% !important;
}
.popover .closePop {
	position : absolute;
	top : 4px;
	right : 10px;
}
#upcomingTable>thead>tr:nth-child(2)>th:nth-last-child{
   display:none;
}
.noPadd td, .noPadd th{
	padding:5px;
}

.card-header, .card-link,.card-link:hover
{background-color:#0171bb;text-align:left;color:white;}
.card-body{padding:10px 10px;}

.card-header  p{position:absolute;top:5px;right:20px;font-size:20px;color:white;
-webkit-animation: minus 0.5s;}

@keyframes minus {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}


.cardTable td, .cardTable th {
   padding : 5px;
}

.cardTable th{
	color : #005199;
}
.cardTable tr, .cardTable th, .cardTable td {
	border: 1px dashed #005199;
    font-size: 13px;
}
div.dt-button-collection button.dt-button.active:not(.disabled) {
	background : lightblue !important;
	width : 100%;
	text-align : left;
}

div.dt-button-collection a.active {
		background : lightblue !important;
	width : 100%;
	text-align : left;
}
div.dt-button-collection button {
		width : 100%;
		text-align : left;
}
div.dt-button-collection {
	height : 400px;
	overflow-y : auto !important;
	width : 250px !important;
}
.exportBtn {
	color: #fff !important;
    background-color: #28a745!important;
    border-color: #28a745!important;
}