<div id="addNoticeContainer">
	<br>
	<div class="row container-fluid" style="margin-top: 10px;">
		<div class="col-sm-3 text-center">
			<a class="btn btn-primary" style="color: white;" ui-sref="dashboard">Back</a>
		</div>
		<div class="col-sm-9">
			<h4 class="blueColor">Add New Notice</h4>
		</div>

	</div>


	<hr>
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-12">
				<form novalidate id="addNewNoticeForm" name="addNewNoticeForm">
					<div class="row">
						<div class="form-group col-sm-4">
							<label for="company">Company : <span
								class="error-message">*</span></label> <select name="company"
								id="company" ng-model="vm.form.company" required
								ng-options="item.id as item.name for item in vm.companyInfo"
								ng-change="vm.fetchCompanyMaster(vm.form.company)"
								class="custom-select-sm form-control">
							</select>
							<p
								ng-show="addNewNoticeForm.company.$invalid || (addNewNoticeForm.company.$touched && addNewNoticeForm.company.$pristine)"
								class="error-message">Company must be selected</p>
						</div>
						<div class="form-group col-sm-4">
							<label for="business">Business : <span
								class="error-message">*</span></label> <select name="business"
								id="business" ng-model="vm.form.business"
								ng-change="vm.fetchVerticalMaster(vm.form.business)"
								ng-options="item.id as item.name for item in vm.businessInfo"
								class="custom-select-sm form-control" required>

							</select>
							<p
								ng-show="addNewNoticeForm.business.$invalid || (addNewNoticeForm.business.$touched && addNewNoticeForm.business.$pristine)"
								class="error-message">Business must be selected</p>
						</div>

						<div class="form-group col-sm-4">
							<label for="vertical"> Vertical : <span
								class="error-message">*</span></label> <select name="vertical"
								id="vertical" ng-model="vm.form.vertical"
								ng-change="vm.fetchRefNo(vm.form.vertical)"
								ng-options="item.id as item.name for item in vm.verticalInfo"
								class="custom-select-sm form-control" required>

							</select>
							<p
								ng-show="addNewNoticeForm.vertical.$invalid || (addNewNoticeForm.vertical.$touched && addNewNoticeForm.vertical.$pristine)"
								class="error-message">Vertical must be selected</p>
						</div>

					</div>
					<div class="row">
						<div class="form-group col-sm-4">
							<label for="state"> State/Location : </label> <select
								name="state" id="state" ng-model="vm.form.state"
								class="custom-select-sm form-control">
								<option ng-repeat="item in vm.stateInfo" value="{{item.id-0}}">{{item.name}}</option>
							</select>

						</div>

						<div class="form-group col-sm-4">
							<label for="caseType"> Case Category : <span
								class="error-message">*</span></label> <select name="caseType"
								id="caseType" ng-model="vm.form.caseType"
								ng-change="vm.checkYear()" class="custom-select-sm form-control"
								ng-required="true">
								<option ng-repeat="item in vm.caseTypeInfo"
									value="{{item.id-0}}">{{item.name}}</option>
							</select>
							<p
								ng-show="addNewNoticeForm.caseType.$invalid  || (addNewNoticeForm.caseType.$touched && addNewNoticeForm.caseType.$pristine)"
								class="error-message">Case Category must be selected</p>
						</div>

						<div class="form-group col-md-4">
							<label for="addressedTo"> Addressed To: </label> <input
								speclchars type="text" class="form-control"
								ng-model="vm.form.addressedTo" name="addressedTo"
								id="addressedTo" placeholder="Name / Organization">

						</div>

					</div>



					<div class="row">

						<div class="form-group col-md-4">
							<label for="issuedByName"> Name of the Person issued
								Notice: </label> <input speclchars type="text" class="form-control"
								ng-model="vm.form.issuedByName" name="issuedByName"
								id="issuedByName" placeholder="Name of the Person issued Notice">

						</div>

						<div class="form-group col-md-4">
							<label for="issuedByDesig"> Designation of the Person
								issued Notice : </label> <input speclchars type="text"
								class="form-control" ng-model="vm.form.issuedByDesig"
								name="issuedByDesig" id="issuedByDesig"
								placeholder="Designation of the Person issued Notice ">

						</div>


						<div class="form-group col-md-4">
							<label for="issuedByOrganization"> Organization of the
								Person issued Notice : </label> <input speclchars type="text"
								class="form-control" ng-model="vm.form.issuedByOrganization"
								name="issuedByOrganization" id="issuedByOrganization"
								placeholder="Designation of the Person issued Notice ">

						</div>



					</div>



					<div class="row">

						<div class="form-group col-md-4">
							<label for="natureOfParty"> Nature of the Party :</label> <input
								speclchars type="text" class="form-control"
								ng-model="vm.form.natureOfParty" name="natureOfParty"
								id="natureOfParty" placeholder="Nature of the Party">

						</div>

						<div class="form-group col-md-4">
							<label for="dateOnNotice">Date on Notice </label> <input
								id="dateOnNotice" name="dateOnNotice" class="form-control"
								placeholder="Date on Notice" ng-model="vm.form.dateOnNotice">



						</div>

						<div class="form-group col-md-4">
							<label for="dateOnWhichNoticeReceived">Date on which
								Notice Received </label> <input id="dateOnWhichNoticeReceived"
								name="dateOnWhichNoticeReceived" class="form-control"
								placeholder="Date on Which Notice Received"
								ng-model="vm.form.dateOnWhichNoticeReceived">


						</div>



					</div>




					<div class="row">

						<div class="form-group col-md-4">
							<label for="dateOnWhichNoticeRequiredToReply">Date on
								which Notice required to be Replied </label> <input
								id="dateOnWhichNoticeRequiredToReply"
								name="dateOnWhichNoticeRequiredToReply" class="form-control"
								placeholder="Date on which Notice required to be Replied"
								ng-model="vm.form.dateOnWhichNoticeRequiredToReply">

						</div>

						<div class="form-group col-md-4">
							<label for="dateOfReply">Date of Reply </label> <input
								id="dateOfReply" name="dateOfReply" class="form-control"
								placeholder="Date of Reply" ng-model="vm.form.dateOfReply">

						</div>

						<div class="form-group col-md-4">
							<label for="briefFacts"> Brief Facts: </label>
							<textarea speclchars class="form-control" ng-model="vm.form.briefFacts"
								rows="5" name="briefFacts" id="briefFacts">	</textarea>

						</div>

					</div>

					<div class="row">
						<div class="form-group col-md-4">
							<label for="stakeInvolment"> Financial Impact (in Rs): </label>
							<textarea speclchars class="form-control" ng-model="vm.form.stakeInvolment"
								name="stakeInvolment" id="stakeInvolment">	</textarea>

						</div>

						<div class="form-group col-md-4">
							<label for="status">Status : </label> <select name="status"
								id="status" ng-model="vm.form.status"
								ng-options="item.id as item.name for item in vm.noticeStatusInfo"
								class="custom-select-sm form-control">
							</select>


						</div>

						<div class="form-group col-md-4">
							<label for="remarks"> Remark: </span>
							</label>
							<textarea class="form-control" ng-model="vm.form.remarks"
								speclchars rows="5" name="remarks" id="remarks">	</textarea>

						</div>

					</div>

					<div class="row">
						<div class="form-group col-md-4" id="typeContainer">
							<label for="noticeType"> Notice Type : </label> <input speclchars
								type="text" class="form-control" ng-model="vm.form.noticeType"
								name="noticeType" id="noticeType" placeholder="Notice Type">
						</div>
						<div class="form-group col-md-4">
							<label for="priority"> Priority : </label> <select
								name="priority" id="priority" ng-model="vm.form.priority"
								class="custom-select-sm form-control">
								<option ng-repeat="item in vm.priorityInfo"
									value="{{item.id-0}}">{{item.name}}</option>
							</select>

						</div>
						<div class="form-group col-md-4" style="display: none;"
							id="hiddenContainer1">
							<label for="panNo"> PAN No : </label> <input speclchars
								type="text" class="form-control" ng-model="vm.form.panNo"
								name="panNo" id="panNo" placeholder="PAN No">
						</div>

						<div class="form-group col-md-4" style="display: none;"
							id="hiddenContainer2">
							<label for="assessYear">Assessment Year :</label> <select
								name="assessYear" id="assessYear" ng-model="vm.form.assessYear"
								class="custom-select-sm form-control"
								ng-options="item as item for item in vm.years">

							</select>

						</div>


					</div>

					<div class="row">

						<div class="form-group col-sm-4" style="display: none;"
							id="hiddenContainer3">
							<label for="noticeType"> Notice Type : </label> <select
								name="noticeType" id="noticeType" ng-model="vm.form.noticeType"
								ng-change="vm.fetchNoticeSection(vm.form.noticeType)"
								class="custom-select-sm form-control">
								<option ng-repeat="item in vm.noticeTypeInfo" value="{{item}}">{{item}}</option>
							</select>
							<p
								ng-show="addNewNoticeForm.noticeType.$invalid || (addNewNoticeForm.noticeType.$touched && addNewNoticeForm.noticeType.$pristine)"
								class="error-message">Notice Type must be selected</p>
						</div>

						<div class="form-group col-sm-4" style="display: none;"
							id="hiddenContainer4">
							<label for="section"> Section : </label> <select name="section"
								id="section" ng-model="vm.form.section"
								ng-change="vm.fetchSectionDesc(vm.form.section)"
								ng-options="item.id as item.sectionId for item in vm.sectionInfo"
								class="custom-select-sm form-control">

							</select>

						</div>


						<div class="form-group col-sm-4" style="display: none;"
							id="hiddenContainer5">
							<label for="section"> Section Description: </label> <select
								name="sectionDesc" id="sectionDesc"
								ng-model="vm.form.sectionDesc"
								class="custom-select-sm form-control" readonly>
								<option>{{vm.form.sectionDesc}}</option>
							</select>

						</div>




					</div>


					<div class='text-center'>
						<button ng-click="vm.submit(addNewNoticeForm)" type="button"
							class="btn btn-primary text-center">Save</button>
						<button type="reset" class="btn btn-primary text-center">Cancel</button>

					</div>

				</form>
			</div>

		</div>


	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		
		$('#dateOnNotice').datepicker({
			format : 'dd/mm/yyyy'
		});
		
		$('#dateOnWhichNoticeReceived').datepicker({
			format : 'dd/mm/yyyy'
		});
		
		$('#dateOnWhichNoticeRequiredToReply').datepicker({
			format : 'dd/mm/yyyy'
		});
		
		$('#dateOfReply').datepicker({
			format : 'dd/mm/yyyy'
		});
		
		$('#dateOnNotice, #dateOnWhichNoticeReceived, #dateOnWhichNoticeRequiredToReply, #dateOfReply').on('changeDate', function(ev){
		    $(this).datepicker('hide');
		});
	});
	
	</script>